body {
  font-family: "PT Sans", sans-serif;
}

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbar .container {
  justify-content: flex-start;
}

.navbar .container>button {
  margin-left: auto;
}

a {
  cursor: pointer;
}

.card {
  margin-bottom: 30px;
}

.btn-white {
  border: 1px solid #dfd7d7;
}

.btn {
  margin-right: 5px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.min-width-order {
  min-width: 300px;
}

.txt-center {
  text-align: center;
}

.width-100 {
  width: 100%;
}

.margin-bottom-container {
  margin-bottom: 3em;
}

input:focus, button:focus, select:focus {
  outline: none;
}

input {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px 15px;
}

select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: 8px;
  background-size: 15px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px 15px;
  padding-right: 30px;
}

.pricing-header select {
  margin: 15px auto;
}

.navbar-brand {
  font-size: 16px;
}

.table td, .table th {
  min-width: 100px;
}

.btn-default {
  border: 1px solid #000;
}

.btn:focus {
  box-shadow: none !important;
}

main {
  height: calc(100vh - 105px);
  overflow: auto;
  padding: 30px 0;
}

.flex {
  display: flex;
}

.admin-section>div {
  flex: 1;
}

.admin-section select, .admin-section input {
  display: block;
  margin-top: 7px;
  width: calc(100% - 7px);
}

.navbar-brand.active, .navbar-brand.active:hover {
  color: #007bff;
}

.rated-by {
  font-style: italic;
  font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .min-width-order {
    min-width: 50% !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .min-width-order {
    min-width: 100%;
  }
  .container {
    width: 90%;
  }
}

.margin-bottom-container {
  margin-bottom: 50px;
}

tbody tr.in {
  color: green;
}

tbody tr.out {
  color: red;
}

/*
      Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
      */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .table td, .table th {
    font-size: 14px;
  }
  /* Force table to not be like tables anymore */
  table:not(.home-table), table:not(.home-table) thead, table:not(.home-table) tbody, table:not(.home-table) th, table:not(.home-table) td, table:not(.home-table) tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  table:not(.home-table) thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table:not(.home-table) tr {
    margin: 0 0 1rem 0;
  }
  table:not(.home-table) tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
  }
  table:not(.home-table) td, table:not(.home-table) tbody th {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50% !important;
  }
  table:not(.home-table) td:before, table:not(.home-table) tbody th:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 50%;
    left: 30%;
    transform: translate(-50%, -10px);
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  table:not(.home-table) td.rating-stars:before {
    left: 28%;
  }
  table:not(.home-table) td.rating-stars {
    padding-left: 46% !important;
  }
  .table.home-table td, .table.home-table th {
    min-width: initial;
  }
  /*
          Label the data
      You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
          */
  table.ratings-table tbody th:nth-of-type(1):before {
    content: "No.";
  }
  table.ratings-table td:nth-of-type(1):before {
    content: "Player";
  }
  table.ratings-table td:nth-of-type(2):before {
    content: "Role";
  }
  table.ratings-table td:nth-of-type(3):before {
    content: "Rate";
  }
  table.ratings-table td:nth-of-type(4):before {
    content: "Rating";
  }
  table.ratings-table td:nth-of-type(5):before {
    content: "Can Rate";
  }
  table.ratings-table .form-check-input {
    position: relative;
  }
  .admin-teams>div, .not-admin-teams>div {
    flex-wrap: wrap;
    text-align: center;
  }
  .admin-teams>div>div, .not-admin-teams>div>div {
    flex-basis: 100%;
    width: 100% !important;
    margin-bottom: 15px;
  }
  .admin-teams>div>div>div, .not-admin-teams>div>div>div {
    width: 100% !important;
  }
  .pricing-header .btn {
    width: 100%;
    margin-bottom: 15px;
  }
  .admin-section {
    flex-wrap: wrap;
  }
  .admin-section>div {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .admin-section-wrapper:last-of-type {
    margin-top: 30px;
  }
}

#footer {
  padding: 10px!important;
}